.login_form {
    width: 360px;
    margin: 60px auto;
    padding: 20px;
}
.login_form legend {
    font-size: 1.5em;
    padding: 10px;
}

.login_form label {
    display: block;
    margin: 10px auto;
}

.login_form input {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
}

.login_form .btn {
    margin-top: 40px;
    float: right;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    background-color: thistle;
    border: none;
}
