.nav {
    padding: 20px 10px;
    background-color: rgb(28, 28, 41);
}
.nav .list_nav {
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav .tit {
    color: #fff;
}

.nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
}
