/* reset + header + footer */
@import url(./common.css);

/* 로그인 페이지 디자인 */
/* login-form */
.login-wrap{ margin-bottom: 15px; }
.login-wrap label{ 
    width: 100%; 
    position: relative;
}

.user-typing {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 85px;
    padding-left: 25px;
    border: 1px solid #212121;
    background-color: #212121;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 3px;
    color:#ddd;
}
.user-typing:focus { border-color: #ababab;}

.input-in-btn{
    width: 32px;
    height: 32px;
    overflow: hidden;    
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: calc(50% - 16px);
    text-indent: -9999px;
}
.all-delete-btn.hide-btn{
    display: none;
}

.all-delete-btn{
    display: block;
    background-image: url(../img//cancel_icon.png);
    background-size: 21px;
    right: 80px;
}
.all-delete-btn.id-delete{
    right: 30px;
}

.pw-hide-btn{
    background-image: url(../img/hidden_icon.png);
    right: 30px;   
}
.pw-hide-btn.pw-view-btn{
    background-image: url(../img/view_icon.png);
}

/* checkbox  */
.checkbox-wrap{ margin-bottom: 30px; }

.checkbox-wrap label{
    vertical-align: top;
    line-height: 20px;
    padding-left: 10px;
    position: relative;
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 700;
}

.checkbox-wrap label:before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #535353;
    position: absolute; 
    left: -24px;
    
}

.checkbox-wrap label::before{
    content: '';
    display: block;
    background-image: url(../img/check_icon.png);
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
}

.checkbox{
    width: 20px;
    height: 20px;
    visibility: hidden;
}
.checkbox:checked + label:before{
    background-color: #ff1744;
}
.checkbox:checked + label{
    color: #a3a3a3;
}
/* submit-btn */
.submit-btn{
    width: 100%;
    color: #fff;
    font-size: 22px;
    padding: 25px;
    font-weight: 700;
}

.login-btn{ background-color: #ff153c; }
.login-btn:hover{background-color: #cc1030;}


/*find-wrap*/
.find-wrap{
    margin-top: 20px;
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
}

.find-wrap li{
    width: 165px;
    
    position: relative;
}

.find-wrap li:first-child:after{ 
    content: '';
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #aaa;
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.find-wrap li a{
    font-weight: 400;
    font-size: inherit;
}

.find-wrap .join{
    margin-top: 45px;
    width: 100%;
}
.find-wrap .join a{padding-left: 15px;}

/* 회원가입 페이지 디자인 */
.join-wrap{
    margin-bottom: 30px;
}
.join-info{
    display: inline-block;
    padding-top: 7px;
    color: #6e6e6e;
    font-size: 18px;
}

.join-btn{
    color: #888;
    background-color: #4e4e4e;
}
/* .terms checkbox */
.terms-wrap{
    font-size: 19px;
    color: #6e6e6e;
}

.terms-wrap li{ padding-bottom: 15px; }

.terms-wrap li label{
    position: relative;
    padding-left: 10px;
}
.terms-wrap li label::before{
    width: 25px;
    height: 25px;
    position: absolute;
    left: -25px;
    content: '';
    display: block;
    opacity: 0.4;
    background-image: url(../img/check_icon.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}
.terms-wrap li .checkbox:checked + label::before{
    background-color:transparent;
    opacity: 1;
    background-image: url(../img/check_on_icon.png);
}
.terms-wrap li label a{
    text-decoration: underline;
}

.terms-wrap li ul{
    padding-left: 33px;
    padding-top: 15px;
}